K2BaseSvrClient/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/KTARemote" />
  <xs:element name="GetAccessID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myAppID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAccessIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myAccessID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myAccessID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TopicID" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Strings" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Log">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myAccessID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isError" type="xs:boolean" />
        <xs:element minOccurs="0" name="src" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myAccessID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="myID" type="xs:int" />
        <xs:element minOccurs="0" name="myTopicID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="myHeaderName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myAccessID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="myID" type="xs:int" />
        <xs:element minOccurs="0" name="myTopicID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="myHeaderName" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="myOrderParms" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishTrigger">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myAccessID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="myID" type="xs:int" />
        <xs:element minOccurs="0" name="myTopicID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="myHeaderName" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="myTriggerParms" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishTriggerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GPPublishRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myAccessID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="myID" type="xs:int" />
        <xs:element minOccurs="0" name="myTopicID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="myHeaderName" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="myParms" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GPPublishRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HeartBeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myAccessID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeartBeatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myAccessID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="myID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Init">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myAccessID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Finalize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myAccessID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KTARemote" minOccurs="0" name="myMsg" nillable="true" type="q5:KTAMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTopicUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="id" nillable="true" type="q6:ArrayOfint" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="value" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>